   </div>  <!-- sontainer-->
  </div> <!-- wrap-->


  <div id="footer">
      <div class="container">
        <p class="text-muted credit">Developed by the  <a href="http://www.washington.edu">
         <img class="foot_img" src="/static/images/UW.Signature_left.png" alt="The University of Washington">
        </a>
        </p> 
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/lib/jquery/jquery.js"></script>
    <script src="/static/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    
    <!-- Esnet D3 based graphs-->
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="/static/lib/esviz/areachart.js"></script>
    <script src="/static/js/cassini_esviz.js"></script>
    
  </body>
</html>
