<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/images/saturn.ico">

    <title>Cassini</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/cassini.css" rel="stylesheet">

    <link rel="shortcut icon" href="/static/images/saturn.ico">
  
    <style type="text/css" title="currentStyle">
          @import "/static/lib/DataTables/media/css/demo_page.css";
          @import "/static/lib/DataTables/media/css/demo_table.css";
    </style>
    <link rel="stylesheet" type="text/css" href="/static/css/DT_bootstrap.css">

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/lib/jquery/jquery.js"></script> 
    <script src="/static/lib/bootstrap/dist/js/bootstrap.min.js"></script> 
        
    <script type="text/javascript" language="javascript" src="/static/lib/DataTables/media/js/jquery.js"></script>
    <script type="text/javascript" language="javascript" src="/static/lib/DataTables/media/js/jquery.dataTables.js"></script>

    <script type="text/javascript" charset="utf-8" language="javascript" src="/static/js/DT_bootstrap.js"></script>

    <!-- Esnet D3 based graphs-->
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

    <script src="/static/lib/esviz/areachart.js"></script> 
    <script src="/static/js/cassini_esviz.js"></script>
    <script src="/static/js/cassini.js"></script>


  </head>


