{% include 'header2.html' %}

<style>

 .node text {
  pointer-events: none;
  font: 10px sans-serif;
  color: black;
}

</style>
<body>
 <!-- Custom styles for this template -->
{% include 'nav2.html' %}


<!-- Wrap all page content here -->
<div id="wrap" style="padding-left: 40px;">

<div class="page-header" style="padding-top: 40px;">
    <h3>Cassini Network Edge Controller</h3>
</div>
  
<div class="row">
  <div class="col-md-3">
  <h4>Totals</h4>

  <table class="table table-hover">
     <tr>
        <td><a href="/cassini/switches">Switches</a></td>
        <td>{{ tot_switches }}</td>
     </tr>
     <tr>
       <td><a href="/cassini/hosts">Hosts</a></td>
       <td>{{ tot_hosts }} </td>
     </tr> 
     <tr>
        <td><a href="/cassini/users">Users</a></td>
        <td>{{ tot_users }}</td>
     </tr> 
   </table>

 </div>
 
 <div class="col-md-9">

   <h4>Topology</h4>


     <div id="topo2"></div>
 
   <h4>Active Hosts</h4>
     <div id="total_macs"></div>  
     

   <h4>Active Users</h4>
     <div id="total_users"></div>
  </div>
 </div> <!--row-->
</div> <!--wrap-->
</div> <!--container-->

   <script>
   var width = 600,
    height = 250;


var svg = d3.select("#topo2").append("svg")
    .attr("width", width)
    .attr("height", height);

var force = d3.layout.force()
    .gravity(.05)
    .distance(100)
    .charge(-100)
    .size([width, height]);

d3.json("/static/topo.json", function(error, json) {
  force
      .nodes(json.nodes)
      .links(json.links)
      .start();

  var link = svg.selectAll(".link")
      .data(json.links)
    .enter().append("line")
      .attr("class", "link");

  var node = svg.selectAll(".node")
      .data(json.nodes)
    .enter().append("g")
      .attr("class", "node")
      .call(force.drag);

  node.append("image")
      .attr("xlink:href", function(d) { if (d.group != 0) { return "/static/desktop-computer-25x25.png"} else {return "/static/Network-Switch.png"}})
      .attr("x", -8)
      .attr("y", -8)
      .attr("width", 16)
      .attr("height", 16);

  node.append("text")
      .attr("dx", 12)
      .attr("dy", ".35em")
      .style("color","black")
      .text(function(d) { return d.name });

  force.on("tick", function() {
    link.attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
  });
});


</script>

{% include 'footer_nojs2.html' %}

   <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/lib/jquery/jquery.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/bs.css">

    <!-- Esnet D3 based graphs-->
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

    <script src="/static/lib/esviz/areachart.js"></script>
    <script src="/static/js/cassini_esviz.js"></script>

    <!-- DataTables -->
</body>
</html>
