{% include 'header2.html' %}


<body>
 <!-- Custom styles for this template -->
{% include 'nav2.html' %}


<!-- Wrap all page content here -->
<div id="wrap" style="padding-left: 40px;">

<div class="page-header" style="padding-top: 40px;">
    <h3>Cassini Network Edge Controller</h3>
</div>
  
<div class="row">
  <div class="col-md-3">
  <h4>Totals</h4>

  <table class="table table-hover">
     <tr>
        <td><a href="/cassini/switches">Switches</a></td>
        <td>{{ tot_switches }}</td>
     </tr>
     <tr>
       <td><a href="/cassini/hosts">Hosts</a></td>
       <td>{{ tot_hosts }} </td>
     </tr> 
     <tr>
        <td><a href="/cassini/users">Users</a></td>
        <td>{{ tot_users }}</td>
     </tr> 
   </table>

 </div>
 
 <div class="col-md-9">

   <h4>Topology</h4>


     <div id="topo2"></div>
 
   <h4>Active Hosts</h4>
     <div id="total_macs"></div>  
     

   <h4>Active Users</h4>
     <div id="total_users"></div>
  </div>
 </div> <!--row-->
</div> <!--wrap-->
</div> <!--container-->

   <script>
   var width = 600,
    height = 250;

   var color = d3.scale.category20();

   var force = d3.layout.force()
    .charge(-120)
    .linkDistance(30)
    .size([width, height]);

   var svg = d3.select("#topo2").append("svg")
    .attr("width", width)
    .attr("height", height);

   d3.json("/static/topo.json", function(error, graph) {
      force
      .nodes(graph.nodes)
      .links(graph.links)
      .start();

   var link = svg.selectAll(".link")
      .data(graph.links)
      .enter().append("line")
      .attr("class", "link")
      .style("stroke-width", function(d) { return Math.sqrt(d.value); });

    var node = svg.selectAll(".node")
      .data(graph.nodes)
    .enter().append("circle")
      .attr("class", "node")
      .attr("r", 15)
      .on("mouseover", mouseover)
      .on("mouseout", mouseout)
      .style("fill", function(d) { return color(d.group); })
      .call(force.drag);

    node.append("title")
      .text(function(d) { return d.name; });

    node.append("text")
      .attr("class", "word")
      .attr("dy", ".35em")
      .text(function(d) { console.log(d.name); return d.name; });

    force.on("tick", function() {
      link.attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

       node.attr("cx", function(d) { return d.x; })
        .attr("cy", function(d) { return d.y; });
  });
});


function mouseover() {
  d3.select(this).select("circle").transition()
      .duration(750)
      .attr("r", 16);
}
 
function mouseout() {
  d3.select(this).select("circle").transition()
      .duration(750)
      .attr("r", 8);
}

</script>

{% include 'footer_nojs2.html' %}

   <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/lib/jquery/jquery.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/bs.css">

    <!-- Esnet D3 based graphs-->
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

    <script src="/static/lib/esviz/areachart.js"></script>
    <script src="/static/js/cassini_esviz.js"></script>

    <!-- DataTables -->
</body>
</html>
