/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}


.navbar {
	background: #39275b;
	color: white;
	}

.navbar  > li > a {
    color: white;
    }

.navbar > .container .navbar-brand {
	color: white;
	}
	
.navbar-default .navbar-nav > li > a {
    color: white;
    }

.navbar-brand {
    font-size: 1.5em;
    color: #97B936;
    	}
    	
img.foot_img {
     height: 25px;
     }    	

li.avatar {
    padding: 5px;
}

img.avatar {
    padding-right: 10px;
}
     
#map-canvas2  {
        margin: 0;
        padding: 0;
        height: 500px;
        width: 750px;
      }
      
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.total_traffic {
	padding: 0;
	}

.area {
  fill: steelblue;
}

svg {
 	margin-left: 0px;
    padding-bottom: 30px;
    
    }
